*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #202A35;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  height: 100%;
}

a, a:active, a:visited {
  color: #e8f4f8;
}

a:focus {
  color: #99cfe0;
  outline: 0;
}

.container {
  height: 100%;
}

.row {
  display: flex;
  height: 50%;
  justify-content: space-between;
}

.col {
  border: 1px inset #5F7077;
  flex: 1;
  margin: 4px;
}

.col:first-child {
  flex: 2;
}

.display-pane {
  background-color: #000;
  text-align: center;
}

.memory-pane,
.output-pane,
.state-pane {
  font-size: 2.2vh;
  overflow: hidden;
}

.pre {
  white-space: pre;
}

.output-pane__navlist {
  list-style-type: none;
}
.output-pane__navlist li {
  float: left;
  overflow: hidden;
  padding: 2px;
  width: 12vw;
}

#canvas {
  background-color: #000;
  height: 256px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 512px;
}
